/* Mobile */

    .header-logo{
        width: 42px;
        height: 38px;
    }
    .header-button{
        padding: 11px 12px 13px;
        border-radius: 4px;
        background-color: #0f1318;
        font-family: "CircularStd-Medium",sans-serif;
        font-size: 12px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.86;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
        float: right;
        border: 0;
    }
    /* demos page */
    .headder-demos-button{
        padding: 10px 12px 12px;
        border-radius: 4px;
        border: solid 1px #0f1318;
        background-color: #fff;
        font-family: "CircularStd-Medium", sans-serif;
        font-size: 12px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.86;
        letter-spacing: normal;
        text-align: center;
        color: #0f1318;
        
    }
    .video-tab-margin{
        margin: auto;
    }
    .video-bg{
        background-color: #f6f5ed;
    }
    .video-board{
        margin: auto;
        padding: 32px 18px 40px;
        
        display: block;
    }


    .paddign-104px{
        margin-top: 40px;
    }
    .video-head{
        font-family: "CircularStd-Bold",sans-serif;
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.42;
        letter-spacing: normal;
        text-align: center;
        color: #0f1318;
        
    }
    .video-subhed{
        font-family: "CircularStd-Medium", sans-serif;
        font-size: 20px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.6;
        letter-spacing: normal;
        text-align: center;
        color: #0f1318;
        margin: 0 auto;
        display: block;
        width: auto;
        
    }
    .video{
        width: 100%;
        height: auto;
    }
    .video-title{
        font-family: "CircularStd-Medium", sans-serif;
        font-size: 26px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        color: #212121;
        padding: 24px 0 0;
        text-align: left;
    }
    .video-desc{
        font-family: "CircularStd-Medium", sans-serif;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
        color: #0f1318;
        margin: 0 auto;
    }
    .pad-top-mob{
        
        padding-top: 18px;
    }

    /* eof demos */
    .adctv-h1{
        font-family: "CircularStd", sans-serif;
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.42;
        letter-spacing: normal;
        text-align: center;
        color: #0f1318;
        padding: 24px 0 12px 0;
        max-width: 278px;
        margin: 0 auto;
    }
    .adctv-main-desc{
        font-family: "CircularStd-Medium", sans-serif;
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.63;
        letter-spacing: normal;
        text-align: center;
        max-width: 278px;
        color: #0f1318;
        margin: 0 auto;
        padding-bottom: 24px;
    }
    .video-subhed{
        font-family: "CircularStd-Medium", sans-serif;
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.63;
        letter-spacing: normal;
        text-align: center;
        max-width: 300px;
        color: #0f1318;
        margin: 0 auto;
        padding-bottom: 24px;
    }
    .section2-button{
        border-radius: 4px;
        background-color: #0f1318;
        font-family: "CircularStd-Medium", sans-serif;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.86;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
        padding: 14px 12px;
        display: block;
        margin: 0 auto;
        border: 0;
    }
    .section2-img{
        width: 100%;
        height: 100%;
        display: block;
        margin: 32px 0 40px 0;
    }
    .sec3-pad{
        padding: 32px 18px 40px;
    }
    .section3-h{
        font-family: "CircularStd-Bold", sans-serif;
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.42;
        letter-spacing: normal;
        text-align: center;
        color: #0f1318;
        margin: 0 auto;
    }
    .sec3-mainbox{
        border-radius: 12px;
        border: solid 1.5px #0f1318;
        background-color: rgba(0, 0, 0, 0.12);
        padding: 2px 2px 12px ;
        margin-top: 18px;
    }
    .sec3-subbox{
        padding: 16px 13px 24px 12px;
        background-color: #f3efe7;
        min-height: 260px;
    }
    .sec3-box-logo{
        width: 58px;
        height: 58px;
        display: block;
        margin: 0 auto;
    }
    .sec3-h{
        font-family: "CircularStd-Medium", sans-serif;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.44;
        letter-spacing: normal;
        text-align: center;
        color: #212121;
        padding-top: 12px ;

    }
    .sec3-desc{
        font-family:" CircularStd-Medium", sans-serif;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: center;
        color: #212121;
        margin: 0 auto;
    }
    .foo-bg{
        padding: 24px 44px 24px 45px;
        background-color: #d4181d;
        position: static;
        bottom: 0;
    }
    .foot-img{
        width: 42px;
        height: 38px;
        display: block;
        margin: 0 auto;
    }
    .foo-desc{
        font-family: "CircularStd-Medium", sans-serif;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
        margin-top: 12px;
    }
    .foo-button{
        padding: 11px 12px 13px;
        border-radius: 4px;
        background-color: #0f1318;
        font-family: "CircularStd-Medium",sans-serif;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.86;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
        border: 0;
        margin: 0 auto;
        display: block;
    }
    /* modal */
    .adctv-modal{
        padding: 12px 0 16px;
        border-radius: 4px;
        background-color: #fff;

    }
    .modal-header{
        padding: 0;
        padding-left: 16px;
    }
    .modal-title{
        font-family: "CircularStd-Medium", sans-serif;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.44;
        letter-spacing: normal;
        text-align: center;
        color: #212121;
    }
    label{
        font-family: "CircularStd-Book",sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: normal;
        color: #81868b;
    }
    .form-control{
        padding: 11px 97px 11px 12px;
        border-radius: 4px;
        background-color: #ededea;
        font-family: "CircularStd-Book", sans-serif;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        color: #0f1318;
        margin-bottom: 16px;
    }
    .form-group{
        margin-bottom: 0;
    }
    .modal-footer{
        padding: 0;
    }
    .mdlbtn{
        padding: 13px 82px 14px;
        border-radius: 4px;
        background-color: #0f1318;
        font-family: "CircularStd-Medium", sans-serif;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.86;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
        width: 100%;
        margin: 0 16px;
    }




/* tab */
@media (min-width: 768px) {
    .header-logo{
        width: 42px;
        height: 38px;
    }
    .header-button{
        padding: 12px 16px 14px;
        border-radius: 4px;
        background-color: #0f1318;
        font-family: "CircularStd-Medium",sans-serif;
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.13;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
        float: right;
        border: 0;
    }
    /* demos page */
    .headder-demos-button{
        padding: 12px 16px 14px;
        border-radius: 4px;
        border: solid 1.5px #0f1318;
        background-color: #fff;
        font-family: "CircularStd-Medium", sans-serif;
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.13;
        letter-spacing: normal;
        text-align: center;
        color: #0f1318;
        height: 44px;
        
    }
    .video-tab-margin{
        margin: auto;
    }
    .video-bg{
        background-color: #f6f5ed;
    }
    .video-board{
        margin: auto;
        padding: 72px 65px 104px;
        
        display: block;
    }


    .paddign-104px{
        margin-top: 104px;
    }
    .video-head{
        font-family: "CircularStd-Bold",sans-serif;
        font-size: 40px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: #0f1318;
        
    }
    .video-subhed{
        font-family: "CircularStd-Medium", sans-serif;
        font-size: 20px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.6;
        letter-spacing: normal;
        text-align: center;
        color: #0f1318;
        margin: 0 auto;
        display: block;
        width: auto;
        
    }
    .video{
        width: 100%;
        height: 323px;
    }
    .video-title{
        font-family: "CircularStd-Medium", sans-serif;
        font-size: 26px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        color: #212121;
        padding: 24px 0 0;
        text-align: left;
        margin-bottom: 8px;
    }
    .video-desc{
        font-family: "CircularStd", sans-serif;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
        color: #0f1318;
        margin: 0 auto;
    }
    .pad-top-56px{
        padding: 0px;
        padding-top: 56px;
    }

    /* eof demos */
    .adctv-h1{
        font-family: "CircularStd", sans-serif;
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.42;
        letter-spacing: normal;
        text-align: center;
        color: #0f1318;
        padding: 24px 0 12px 0;
        max-width: 278px;
        margin: 0 auto;
    }
    .adctv-main-desc{
        font-family: "CircularStd-Medium", sans-serif;
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.63;
        letter-spacing: normal;
        text-align: center;
        max-width: 278px;
        color: #0f1318;
        margin: 0 auto;
        padding-bottom: 24px;
    }
    .section2-button{
        border-radius: 4px;
        background-color: #0f1318;
        font-family: "CircularStd-Medium", sans-serif;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.86;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
        padding: 14px 12px;
        display: block;
        margin: 0 auto;
    }
    .section2-img{
        width: 100%;
        height: 100%;
        display: block;
        margin: 32px 0 40px 0;
    }
    .sec3-pad{
        padding: 32px 18px 40px;
    }
    .section3-h{
        font-family: "CircularStd-Bold", sans-serif;
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.42;
        letter-spacing: normal;
        text-align: center;
        color: #0f1318;
        margin: 0 auto;
    }
    .sec3-mainbox{
        border-radius: 12px;
        border: solid 1.5px #0f1318;
        background-color: rgba(0, 0, 0, 0.12);
        padding: 2px 2px 12px ;
        margin-top: 18px;
    }
    .sec3-subbox{
        padding: 16px 13px 24px 12px;
        background-color: #f3efe7;
        min-height: 348px;
    }
    .sec3-box-logo{
        width: 58px;
        height: 58px;
        display: block;
        margin: 0 auto;
    }
    .sec3-h{
        font-family: "CircularStd-Medium", sans-serif;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.44;
        letter-spacing: normal;
        text-align: center;
        color: #212121;
        padding-top: 12px ;

    }
    .sec3-desc{
        font-family:" CircularStd-Medium", sans-serif;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: center;
        color: #212121;
        margin: 0 auto;
    }
    .foo-bg{
        
        background-color: #d4181d;
        position: static;
        bottom: 0;
        width: 100%;
    }
    .foot-img{
        width: 42px;
        height: 38px;
        display: block;
        margin: 0 auto;
    }
    .foo-desc{
        font-family: "CircularStd-Medium", sans-serif;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
        margin-top: 12px;
    }
    .foo-button{
        padding: 11px 12px 13px;
        border-radius: 4px;
        background-color: #0f1318;
        font-family: "CircularStd-Medium",sans-serif;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.86;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
        border: 0;
        margin: 0 auto;
        display: block;
    }
   /* modal */
    .adctv-modal{
        padding: 12px 0 16px;
        border-radius: 4px;
        background-color: #fff;

    }
    .modal-header{
        padding: 0;
        padding-left: 16px;
    }
    .modal-title{
        font-family: "CircularStd-Medium", sans-serif;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.44;
        letter-spacing: normal;
        text-align: center;
        color: #212121;
    }
    label{
        font-family: "CircularStd-Book",sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: normal;
        color: #81868b;
    }
    .form-control{
        padding: 11px 97px 11px 12px;
        border-radius: 4px;
        background-color: #ededea;
        font-family: "CircularStd-Book", sans-serif;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        color: #0f1318;
        margin-bottom: 16px;
    }
    .form-group{
        margin-bottom: 0;
    }
    .modal-footer{
        padding: 0;
    }
    .mdlbtn{
        padding: 13px 82px 14px;
        border-radius: 4px;
        background-color: #0f1318;
        font-family: "CircularStd-Medium", sans-serif;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.86;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
        width: 100%;
        margin: 0 16px;
    }
}
@media (min-width: 992px) { 
    .header-logo{
        width: 56px;
        height: 50px;
    }
    .header-button{
        padding: 12px 16px 14px;
        border-radius: 4px;
        background-color: #0f1318;
        font-family: "CircularStd-Medium",sans-serif;
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.13;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
        float: right;
        border: 0;
    }
    
    /* demos page */
    .headder-demos-button{
        padding: 12px 16px 14px;
        border-radius: 4px;
        border: solid 1.5px #0f1318;
        background-color: #fff;
        font-family: "CircularStd-Medium", sans-serif;
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.13;
        letter-spacing: normal;
        text-align: center;
        color: #0f1318;
        height: 44px;
        
    }
    .video-bg{
        background-color: #f6f5ed;
    }
    .video-board{
        margin: auto;
        padding: 72px 0 104px;
        
        display: block;
    }


    .paddign-104px{
        margin-top: 104px;
    }
    .video-head{
        font-family: "CircularStd-Bold",sans-serif;
        font-size: 40px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: #0f1318;
        
    }
    .video-subhed{
        font-family: "CircularStd-Medium", sans-serif;
        font-size: 20px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.6;
        letter-spacing: normal;
        text-align: center;
        color: #0f1318;
        margin: 0 auto;
        display: block;
        width: 705px;
        
    }
    .video{
        width: 100%;
        height: 323px;
    }
    .video-title{
        font-family: "CircularStd-Medium", sans-serif;
        font-size: 26px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        color: #212121;
        padding: 24px 0 0;
        text-align: left;
        margin-bottom: 8px;
    }
    .video-desc{
        font-family: "CircularStd-Medium", sans-serif;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
        color: #0f1318;
        margin: 0 auto;
    }
    .pad-top-56px{
        padding: 0px;
        padding-top: 56px;
    }

    /* eof demos */
    .adctv-h1{
        font-family: "CircularStd", sans-serif;
        font-size: 52px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.27;
        letter-spacing: normal;
        text-align: center;
        color: #0f1318;
        padding: 72px 0 24px 0;
        max-width: 803px;
        margin: 0 auto;
    }
    .adctv-main-desc{
        font-family: "CircularStd-Medium", sans-serif;
        font-size: 22px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.64;
        letter-spacing: normal;
        text-align: center;
        max-width: 705px;
        color: #0f1318;
        margin: 0 auto;
        padding-bottom: 32px;
    }
    .section2-button{
        padding: 15px 16px 19px;
        border-radius: 4px;
        background-color: #0f1318;
        font-family: "CircularStd-Medium", sans-serif;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
        display: block;
        margin: 0 auto;
        border: 0;
    }
    .section2-img{
        width: 100%;
        height: 100%;
        display: block;
        margin: 72px 0 105px 0;
    }
    .sec3-pad{
        padding: 32px 18px 40px;
    }
    .section3-h{
        font-family: "CircularStd-Bold", sans-serif;
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.42;
        letter-spacing: normal;
        text-align: center;
        color: #0f1318;
        margin: 0 auto;
    }
    .sec3-mainbox{
        border-radius: 12px;
        border: solid 1.5px #0f1318;
        background-color: rgba(0, 0, 0, 0.12);
        padding: 2px 2px 12px ;
        margin-top: 18px;
    }
    .sec3-subbox{
        padding: 16px 13px 24px 12px;
        background-color: #f3efe7;
        min-height: 348px;
    }
    .sec3-box-logo{
        width: 58px;
        height: 58px;
        display: block;
        margin: 0 auto;
    }
    .sec3-h{
        font-family: "CircularStd-Medium", sans-serif;
        font-size: 26px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: center;
        color: #212121;
        padding-top: 12px ;

    }
    .sec3-desc{
        font-family:" CircularStd-Medium", sans-serif;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.78;
        letter-spacing: normal;
        text-align: center;
        color: #212121;
        margin: 0 auto;
        max-width: 306px;
    }
    .foo-bg{
        background-color: #d4181d;
        position: static;
        bottom: 0;
        width: 100%;
    }
    .foo-pad{
        padding: 32px 0 32px;
    }
    .pad-0{
        padding: 0;
        margin: auto;
    }
    .foot-img{
        width: 42px;
        height: 38px;
        display: block;
        margin: 0 auto;
        float: left;
    }
    .foo-desc{
        font-family: "CircularStd-Medium", sans-serif;
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.63;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
        margin-top: auto;
        float: right;
    }
    .foo-button{
        padding: 12px 16px 14px;
        border-radius: 4px;
        background-color: #0f1318;
        font-family: "CircularStd-Medium",sans-serif;
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.13;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
        border: 0;
        margin: 0px ;
        display: block;
        float: right;
    }
    /* modal */
    .modal-title{
        font-family: "CircularStd",sans-serif;
          font-size: 26px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.38;
          letter-spacing: normal;
          text-align: center;
          color: #212121;
    }
    .modal-header{
        padding: 24px 0 32px ;
        border: 0;
    }
    .modal-content{
        padding: 0 40px 40px;
    }
    .modal-body{
        padding: 0;
    }
    .modal-dialog{
        max-width: fit-content;
    }
    label{
        font-family: "CircularStd-Book", sans-serif;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.13;
        letter-spacing: normal;
        color: #81868b;
    }
    .form-control{
        width: 376px;
        padding: 14px 183px 18px 16px;
        border-radius: 4px;
        background-color: #ededea;
        font-family: "CircularStd-Book", sans-serif;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #0f1318;
    }
    .modal-footer{
        padding: 16px 0 0;
        border: 0;
    }
    .mdlbtn{
        margin: 32px 0 0 617px;
        padding: 15px 16px 19px;
        border-radius: 4px;
        background-color: #0f1318;
        font-family: "CircularStd-Medium", sans-serif;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
        border: 0;
    }
 }

 @media (min-width: 1200px){
    .header-logo{
        width: 56px;
        height: 50px;
    }
    .header-button{
        padding: 12px 16px 14px;
        border-radius: 4px;
        background-color: #0f1318;
        font-family: "CircularStd-Medium",sans-serif;
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.13;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
        float: right;
        border: 0;
    }
    /* demos page */
    .headder-demos-button{
        padding: 12px 16px 14px;
        border-radius: 4px;
        border: solid 1.5px #0f1318;
        background-color: #fff;
        font-family: "CircularStd-Medium", sans-serif;
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.13;
        letter-spacing: normal;
        text-align: center;
        color: #0f1318;
        height: 44px;
        
    }
    .video-bg{
        background-color: #f6f5ed;
    }
    .video-board{
        margin: auto;
        padding: 72px 0 104px;
        
        display: block;
    }


    .paddign-104px{
        margin-top: 104px;
    }
    .video-head{
        font-family: "CircularStd-Bold",sans-serif;
        font-size: 40px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: #0f1318;
        
    }
    .video-subhed{
        font-family: "CircularStd-Medium", sans-serif;
        font-size: 20px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.6;
        letter-spacing: normal;
        text-align: center;
        color: #0f1318;
        margin: 0 auto;
        display: block;
        width: 705px;
        
    }
    .video{
        width: 100%;
        height: 323px;
    }
    .video-title{
        font-family: "CircularStd-Medium", sans-serif;
        font-size: 26px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        color: #212121;
        padding: 24px 0 0;
        text-align: left;
        margin-bottom: 8px;
    }
    .video-desc{
        font-family: "CircularStd-Medium", sans-serif;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
        color: #0f1318;
        margin: 0 auto;
    }
    .pad-top-56px{
        padding: 0px;
        padding-top: 56px;
    }

    /* eof demos */
    .adctv-h1{
        font-family: "CircularStd", sans-serif;
        font-size: 52px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.27;
        letter-spacing: normal;
        text-align: center;
        color: #0f1318;
        padding: 72px 0 24px 0;
        max-width: 803px;
        margin: 0 auto;
    }
    .adctv-main-desc{
        font-family: "CircularStd-Medium", sans-serif;
        font-size: 22px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.64;
        letter-spacing: normal;
        text-align: center;
        max-width: 705px;
        color: #0f1318;
        margin: 0 auto;
        padding-bottom: 32px;
    }
    .section2-button{
        padding: 15px 16px 19px;
        border-radius: 4px;
        background-color: #0f1318;
        font-family: "CircularStd-Medium", sans-serif;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
        display: block;
        margin: 0 auto;
        border: 0;
    }
    .section2-img{
        width: 100%;
        height: 100%;
        display: block;
        margin: 72px 0 105px 0;
    }
    .sec3-pad{
        padding: 32px 18px 40px;
    }
    .section3-h{
        font-family: "CircularStd-Bold", sans-serif;
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.42;
        letter-spacing: normal;
        text-align: center;
        color: #0f1318;
        margin: 0 auto;
    }
    .sec3-mainbox{
        border-radius: 12px;
        border: solid 1.5px #0f1318;
        background-color: rgba(0, 0, 0, 0.12);
        padding: 2px 2px 12px ;
        margin-top: 18px;
    }
    .sec3-subbox{
        padding: 16px 13px 24px 12px;
        background-color: #f3efe7;
        min-height: 348px;
    }
    .sec3-box-logo{
        width: 58px;
        height: 58px;
        display: block;
        margin: 0 auto;
    }
    .sec3-h{
        font-family: "CircularStd-Medium", sans-serif;
        font-size: 26px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: center;
        color: #212121;
        padding-top: 12px ;

    }
    .sec3-desc{
        font-family:" CircularStd-Medium", sans-serif;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.78;
        letter-spacing: normal;
        text-align: center;
        color: #212121;
        margin: 0 auto;
        max-width: 306px;
    }
    .foo-bg{
        background-color: #d4181d;
        position: static;
        bottom: 0;
        width: 100%;
        height: 131px;
        padding: 0;
        
    }
    .foo-pad{
        padding: 32px 0 32px;
    }
    .pad-0{
        padding: 0;
        margin: auto;
    }
    .foot-img{
        width: 42px;
        height: 38px;
        display: block;
        margin: 0 auto;
        float: left;
    }
    .foo-desc{
        font-family: "CircularStd-Medium", sans-serif;
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.63;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
        margin-top: auto;
        float: right;
    }
    .foo-button{
        padding: 12px 16px 14px;
        border-radius: 4px;
        background-color: #0f1318;
        font-family: "CircularStd-Medium",sans-serif;
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.13;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
        border: 0;
        margin: 0px ;
        display: block;
        float: right;
    }
    /* modal */
    .modal-title{
        font-family: "CircularStd",sans-serif;
          font-size: 26px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.38;
          letter-spacing: normal;
          text-align: center;
          color: #212121;
    }
    .modal-header{
        padding: 24px 0 32px ;
        border: 0;
    }
    .modal-content{
        padding: 0 40px 40px;
    }
    .modal-body{
        padding: 0;
    }
    .modal-dialog{
        max-width: fit-content;
    }
    label{
        font-family: "CircularStd-Book", sans-serif;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.13;
        letter-spacing: normal;
        color: #81868b;
    }
    .form-control{
        width: 376px;
        padding: 14px 183px 18px 16px;
        border-radius: 4px;
        background-color: #ededea;
        font-family: "CircularStd-Book", sans-serif;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #0f1318;
    }
    .modal-footer{
        padding: 16px 0 0;
        border: 0;
    }
    .mdlbtn{
        margin: 32px 0 0 617px;
        padding: 15px 16px 19px;
        border-radius: 4px;
        background-color: #0f1318;
        font-family: "CircularStd-Medium", sans-serif;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
        border: 0;
    }
 }

/* common */
 .bottom-b{
    border-bottom: solid 1px #0f1318;
    
}
.section3-bg{
    background-color: #f6f5ed;
}

.container{
    width: auto;
}

.contact__msg{
    display: none;
}
.contact__msg {
    display: none;
}
/* body{
    padding-bottom: 130px;
} */

.header-button:hover, .headder-demos-button:hover{
    background-color: #d4181d;
}
.foo-button:hover{
    background-color: #fff;
    color: #0f1318;
    /* color: #d4181d; */
}